<nav class="navbar navbar-expand-lg navbar-dark bg-transparent pt-4">
    <div class="container">
        <div class="custom-nav-container w-100 d-flex justify-content-between align-items-center">
            <a class="navbar-brand fw-bold text-white fs-4 d-flex align-items-center gap-2" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Diskly Logo" style="height: 32px;" class="me-2">
                <span>Disk<span class="text-highlight">ly</span></span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center gap-3">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/trending">Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/feature">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/terms-and-condition">Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/contact">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-sm btn-green-custom rounded-pill px-3 py-2" href="/app">
                            Download App
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
